body{
    font-family: Arial, sans-serif;
    background-color: peachpuff;
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    margin: 40px auto;
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 30px;
}   

.container p {
    text-align: center;
}
 
  h1{
    font-size: 36px;
    margin-bottom: 10px;
  }

  p{
    text-align: center;
    margin-bottom: 10px;
  }

  form{
    text-align: left;
  }

  label{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.gender{
    margin: 20px 0;
    text-align: center;
}
 
.gender label{
    margin-right: 0 15px;
    display: inline-block;
}
button{
    background: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    display: block;
    font-size: 16px;
}

button:hover{
    background:darkblue;
}

#result{
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

input,
select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
}
 select{
    width: 100%;
 }